.room--container {
  display: grid;
  grid-template-columns: 1fr 75fr 1fr 25fr 1fr;
  justify-content: center;
  align-items: center;
  height: 93vh;
  overflow-y: hidden;
}

.room--container .video--container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.room--container .chat--container {
  grid-column-start: 4;
  grid-column-end: 5;
}