.seekbar--container {
  width: 90%;
  cursor: pointer;
  height: 5px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  background-color: var(--clr-control-grey);
  transition: all 250ms ease-in-out;
}

.seekbar--container:hover {
  transform: scaleY(2.5);
}

.seekbar--container .watched {
  background-color: var(--clr-main-accent);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.seekbar--container .buffered {
  background-color: var(--clr-control-grey-700);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}