.navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main-bg);
  padding: 5px 20px;
  border-bottom: 3px solid var(--clr-main-accent);
  height: 7vh;
  user-select: none;
}

.navbar--container img {
  width: clamp(100px, 15vw, 150px);
  transition: all 400ms ease-in-out;
}

.navbar--container img:hover {
  filter: drop-shadow(0px 5px 10px var(--clr-main-accent));
}

.navbar--container .links {
  display: flex;
  width: 45%;
  font-size: clamp(1rem, 2.5vw, 2rem);
  justify-content: flex-end;
  margin: 0px 3vw 5px 0px;
}

.navbar--container .links a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--clr-main-accent);
  transition: all 300ms ease-in-out;
}

.navbar--container .links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-main-accent);
  border-radius: 5px;
  transform-origin: bottom right;
  transition: transform 400ms ease-in-out;
}

.navbar--container .links a:hover {
  filter: drop-shadow(0px 5px 10px var(--clr-main-accent));
}

.navbar--container .links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}