.chat--container {
  height: 80vh;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  background-color: var(--clr-control-grey);
  display: flex;
  flex-direction: column-reverse;
}