.playbackModal--container {
  background-color: var(--clr-bg-modal);
  padding: 10px;
  position: absolute;
  right: 5.75vw;
  border-radius: 10px;
  font-size: 1.5vw;
  z-index: 30;
}

.playbackModal--container p {
  margin-top: 0;
}