.seekbar--container {
  width: 90%;
  cursor: pointer;
  height: 5px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  background-color: hsl(0, 0%, 40%);
}

.seekbar--container .watched {
  background-color: #ff9d00;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.seekbar--container .buffered {
  background-color: #aeaeae;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}